
    <form [formGroup]="signInForm" (ngSubmit)="signIn()" style="max-width: 400px; margin: auto; display: flex; flex-direction: column; gap: 16px;">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="signInForm.get('username')?.hasError('required')">
            Username is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
            Password is required.
          </mat-error>
          <mat-error *ngIf="signInForm.get('password')?.hasError('minlength')">
            Password must be at least 6 characters.
          </mat-error>
        </mat-form-field>
      
        <button mat-flat-button color="primary" type="submit" [disabled]="signInForm.invalid">
          Sign In
        </button>
      </form>

      




  