<div style="margin-top:20px ;">
  <app-user-login></app-user-login>
  <hr>
  <!-- <div *ngFor="let user of readMore">
    {{user | json}}
  </div> -->
  <!-- <p>{{readMore ? longText : (longText | summary)}}</p>
  <a href="#" (click)="read($event)">
    {{readMore ? 'read Less' : 'read More'}}
  </a>
  <p styleCss>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quidem. Magnam amet nulla nemo modi recusandae dolorem, optio ipsum aperiam iste dolor, quibusdam, odio ad quasi iusto minus ex ipsa?</p> -->
</div>